.section1, .section2 {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 152px;
    text-align: left;
    height: 100%;
    margin-right: 140px; 
    margin-left: 140px;
}

.img{
    display: flex;
    justify-content: center;
}

.img > img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.listSection1 > p > span, .listSection2 > p > span {
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 1.68px;
    color: #FADAD5;
    text-transform: uppercase;
    margin-right: 20px;
}

.listSection1 > p , .listSection2 > p {
    font-family: 'Raleway', serif;
    font-weight: 300;
    letter-spacing: -0.2px;
    font-size: 15px;
    color: #17100D;
}

.listSection1, .listSection2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100%;
}

.listSection1 > h6, .listSection2 > h6 {
    margin-bottom: 30px;
}

.listSection1{
    margin-right: 99px;
}

.listSection2{
    margin-left: 99px;
}

/****************************** LES FORMULES *************************/
.formules{
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}
.formule1, .formule2, .formule3{
    border-radius: 87px;
    text-align: left;
    padding: 60px;
    width: 100%;
    margin-inline: 25px;
    display: block; 
    height: auto; 
    width: 100%; 
}
.formule1{
    background-color: #C3918F;
}

.formule2{
    background-color: #A05357;
}

.formule3{
    background-color: #A3716F;
    
}

.formule1 > p:nth-child(1), .formule2 > p:nth-child(1), .formule3 > p:nth-child(1){
    font-family: "Playfair Display";
    font-size: 28px;
    font-weight: lighter;
    letter-spacing: -0.28px;
    color: #FDFBFA;
    text-transform: uppercase;
}

.formule1 > p:nth-child(2), .formule2 > p:nth-child(2), .formule3 > p:nth-child(2){
    font-family: "Playfair Display";
    font-size: 32px;
    font-weight: 800;
    letter-spacing: -0.32px;
    color: #FDFBFA;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.formule1 > p:nth-child(n+3), .formule2 > p:nth-child(n+3), .formule3 > p:nth-child(n+3){
    font-family: "Raleway";
    font-size: 15px;
    font-weight: 300;
    letter-spacing: -0.2px;
    margin-bottom: 15px;
    color: #17100D;
}

.formule2 > p:nth-child(n+3){
    color: #FDFBFA;
}

@media (max-width: 800px) {
    .section1, .section2 {
        display: flex;
        margin: 0 !important;
    }
    .section1 {
        flex-direction: column-reverse;
    }
    .section2 {
        flex-direction: column;
    }
    .divServiceResponsive{
        height: 100vh;
        position: fixed;

    }
    .divServiceResponsive2{
        position: absolute;
        top: 100vh;
        background-color: white;
    }

    .divServiceResponsive > h2{
        margin-top: 30px !important;
    }
    .listSection1, .listSection2{
        margin: 10% 20% 20% 10%;
        
    }
    .listSection1 > p, .listSection2 > p {
        display: flex;
        margin-bottom: 20px;
        font-size: 18px;
    }
    .listSection1 > p > span {
        align-items: center;
    }

    .formules{
        flex-direction: column;
        margin-bottom: 130px;
        margin: auto !important;
        width: 90% !important;
    }
    .formule1, .formule2, .formule3{
        width: initial !important;
        border-radius: 45pt !important;
        margin-top: 20px;
        margin-inline: initial !important;
    }
}