@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&family=Raleway:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&family=Playfair+Display&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Raleway:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
  overflow-x: hidden; /* Hide scrollbars */
}

.absolute{
    position: absolute;
    width: 100vw;
}
.panel {
    width: 100vw;
    transform: translateY(20%);
}

.container, body, html, .panel{
    height: 100vh;
}

.container{
    width: 500%;
    display: flex;
    flex-wrap: nowrap;
    left: 0 !important;
    right : 0 !important;
    top: 0 !important;
    height: 100%;
    flex-wrap: no-wrap;
    overscroll-behavior: none;
}

.logo{
    width: 355px;
    height: 31px;
}


.menuBar{
    display: none;
}
.responsive{
    display: none;
}

@media (max-width: 800px) {
    .responsive{
        display: initial;
    }
    body{
        text-align: left;
    }
    .container{
        display: initial !important;
        width: 100% !important ;
        overscroll-behavior: none;
    }
    .panel{
        width: 100% !important;
            transform: translateY(0%) !important;
    }
    .headerText{
        display: none;
    }
    .top{
        padding: 50px 0px 0px 0px !important;
        margin-inline: 0% !important;
        display: flex;
        justify-content: space-between;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .logo{
        width: 200px;
        height: 20px;
    }
    h1{
        font-size: 9vh !important;
        margin: 0 !important;
    }
    h2{
        font-size: 12vw !important;
        margin-top: 100px;
        margin-inline: 30px;
    }
    h3{
        font-size: 4vw !important;
    }
    h4{
        font-size: 9vw !important;
    }
    h5{
        font-weight: bold !important;
        font-size: 25px !important;
    }
    h6{
        font-size: 28px !important;
    }
    .panel:nth-child(1){
        position: fixed;
    }
    .panel:nth-child(2){
        position: absolute;
        top: 100%;
    }
    .panel:nth-child(2) > img:nth-child(1){
        position: absolute;
        left: 0;
        z-index: 2;
        margin-right: 50%;
        margin-left: 5%;
        width: 50%;
        height: 35%;
    }
    .panel:nth-child(2) > img:nth-child(2){
        position: absolute;
        right: 10%;
        bottom: 35%;
        margin-left: 20%;
        width: 60%;
        height: 40%;
    }
    .panel:nth-child(3){
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 200%;
    }
    .panel:nth-child(3) > *, .panel:nth-child(4) > *, .about1{
        margin-top: 50vh;
        transform: translateY(-50%);
    }

    .panel:nth-child(4){
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 300%;
    }
    
    .joinUs > *{
        transform: translateY(10%);
    }
    .panel:nth-child(5){
        position: absolute;
        top: 400%;
    }

    .panel > main:nth-child(2){
        height: 100vh;
        padding-top: 20vh;
    } 
    .left{
        margin-top: -3vh !important;
    }
    .subtitle{
        width: 70% !important;
    }
    .liensTitel{
        font-size: 9vw !important;
    }
    .menuAniamtion > p:nth-child(even){
        text-align: left;
        margin: 30px;
    }
    .menuAniamtion > p:nth-child(odd){
        text-align: right;
        margin: 30px;
    }

    .menuBar{
        display: flex;
        align-content: center;
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
        justify-items: center;
    }

    /****** FRAME JE VOUS AIDE A  *******/
    .jeVousAide{
        font-size: 100px !important
    }

    /********** SERVICES *************/
    .pServices{
        font-size: 18px !important;
        margin-bottom: 59px !important;
    }

    /*************************** JOIN US ************************/
    .joinUsTitle{
        font-size: 11vw !important;
        width: auto !important;
        margin-bottom: 40px !important;
    }
    .second{
        margin-top: 0px !important;
    }
    .joinUsText{
        width: 90% !important;
        font-size: 4vw !important;
        font-weight: 500 !important;
    }
    .joinUsForm > input{
        width: 100% !important;
    }
    .joinUsBtn{
        width: 100% !important;
        margin-top: 100px!important;
        height: 80px !important;
        font-size: 40px !important;
    }
    .iconResponsive{
        position: absolute;
        bottom: 0 !important;
        right: 0 !important;
        left: 0 !important;
        margin-right: auto !important;
        margin-bottom: 20px;
    }
    .iconResponsiveFixed{
        margin-inline: auto !important;
        margin-bottom: 20px;
        margin-top: 100px !important;
    }


    /**************************** ABOUT US *************************/
    .slide:nth-child(3){
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding-inline: 50px;
        justify-content: space-evenly;
    }
    .slide:nth-child(3) > p{
        font-size: 15pt;
    }
    
    .about1 {
        padding-inline: 10px !important;
    }
    .about1 > h1 {
        font-size: 11vh !important;
    }
    .about1 > p{
        width: 100% !important;
        font-size: 3vh !important;
        font-weight: 600 !important;
    }
    .about2{
        height: 100%;
        flex-direction: column;
    }
    .about2 > img{
        transform: translateY(25%);
        height: initial !important;
        width: initial !important;
        margin: initial !important;
    }

    /***************************** CONTACT NOUS ********************/
    .contact{
        margin-top: 50px !important;
        padding: 20px;
    }

    .choises{
        width: 100% !important;
    }

    .textarea{
        padding: 0 !important;
    }
    .inputForm{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .inputForm > input{
        width: auto !important;
    }

    .inputForm > input:nth-child(1), .inputForm > input:nth-child(2){
        margin-right: 0% !important;
        margin-left: 0% !important;
    }

    .joinUsForm > input::placeholder{
        font-size: inherit !important;
        color: white !important;
    }

    .formContact{
        width: 100% !important;
    }

    /*********** FOOTER *************/
    .footer > p{
        font-size: 18px !important;
        width: 80%;
        margin: auto;
    }
    .footer > button{
        width: 90% !important;
    }

}


.square {
    width: 200px;
    height: 200px;
    background: teal;
    border-radius: 8px;
    opacity: 0;
    transform: scale(1.2);
}

@media (prefers-reduced-motion: no-preference) {
  .square {
    transition: opacity 1.5s ease, transform 1.5s ease;
  }
}

.squareTransition {
    opacity: 0.5;
    transform: none;
}
/******************************** MENU RESPONSIVE ***************************/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0px 0px 0px;
}

.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: left;
  margin-left: 50px;
}

.overlay-content > a {
  padding: 8px;
  font-family: 'Raleway', serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 20px;
  color: #707070;
  display: block;
  transition: 0.3s;
  margin-top: 20px;
}

.overlay-content > ul {
  padding: 8px;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  font-size: 18px;
  color: #707070;
  margin-left: 20px;
  display: block;
  transition: 0.3s;
}

.overlay-content > ul > li {
  padding: 8px;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  font-size: 18px;
  color: #707070;
  margin-top: 15px;
  display: block;
  transition: 0.3s;
  font-weight: 100;
}


body {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

h1{
    font-family: 'Playfair Display', serif;
    /* font-size: 212px; */
    font-size: 11vw;
    font-weight: initial;
    text-align: center;
    letter-spacing: 0px;
    color: #333132;
    margin: auto;
    margin-top: 50px;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 79px;
    font-weight: initial;
    letter-spacing: 3.16px;
    color: #333132;
    text-transform: uppercase;
    font: normal normal normal 79px/100px 'Playfair Display';
    text-align: center;    
}

h3{
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.88px;
    font-weight: initial;
    color: #17100D;
}

h4{
    margin-top: 14px;
    font-family: 'Playfair Display', serif;
    font-size: 62px;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 2.48px;
    color: #333132;
    text-transform: uppercase;
}

h5{
    letter-spacing: 1.16px;
    color: #333132B3;
    text-transform: uppercase;
    font-family: 'Raleway', serif;
    font-size: 29px;
    font-weight: 300;
}

h6{
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: -0.32px;
    color: #17100D;
}

.imageScroll1{
    top: 20%;
    height: 600px;
    position: absolute;
    animation-duration: 3s;
    z-index: 2;
    animation-delay: 5s;
    animation-name: slideimage1;
}
@keyframes slideimage1 {
 from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.imageScroll2{
    object-fit: cover;
    position: absolute;
    animation-duration: 3s;
    margin-left: -45%;
    bottom: 0%;
    width: 400px;
    height: 500px;
    z-index: 2;
    animation-delay: 3s;
    animation-name: slideimage2;
}
@keyframes slideimage2 {
 from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.blanc{
    color: white !important;
}

.headerText{
    font-family:  Raleway;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.2px;
    color: #707070;
    text-transform: uppercase;
    opacity: 1;
}

.lien{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-top: 23px;
    letter-spacing: 0.72px;
    color: #333132B3;
}

ul li
{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #333132B3;
}

.containers {
    height: 100%;
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    overflow-x: scroll;
    position: relative;
}

.containers > section {
    flex: none;
    justify-content: center;
    align-items: center;
    width: 100vmax;
    height: 100vh;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 85px 100px 0px 100px;
}

.menuService{
    text-align: left;
}


.menuService > ul {
    margin-top: 10px;
    position: fixed;
    z-index: 2;
}

.menuService > ul > li {
    margin-top: 15px;
}

.menuServiceInline{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-inline: auto;
    margin-top: 85px;
    margin-bottom: 254px;
}

.menuServiceInline > li > a {
    font-weight: 100;
}

.menu{
    z-index: -1;
    margin-top: 5%;
    margin-bottom: 5%;
}

.menuAniamtion > p:nth-child(even){
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: slideright;
    position: relative;
}

.menuAniamtion > p:nth-child(odd){
    animation-duration: 1s;
    animation-name: slideleft;
    position: relative;
}

.liensTitel{
    text-align: left;
    letter-spacing: 3.16px;
    color: #17100D;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    /* font-size: 79px; */
    font-size: 5vw;
    font-weight: lighter;
}

.hidden{
    display: none !important;
}

.show{
    display: initial;
}

.services{
    cursor: pointer;
}


.right {
    animation-duration: 3s;
    animation-name: slideright;
    position: relative;
}
@keyframes slideright {
from {
    right: 100%;
    opacity: 0;
  }

  to {
    right: 0%;
    opacity: 1;
  }
}
.leftOnly{
    margin-top: -110px;
}
.left {
    margin-top: -50px;
    animation-duration: 3s;
    animation-name: slideleft;
    position: relative;
}
@keyframes slideleft {
    from {
        left: 100%;
        opacity: 0;
    }

    to {
        left: 0%;  
        opacity: 1; 
    }
}

.subtitle {
    margin: auto;
    margin-top: 20px;
    /*margin-bottom: 50px;*/
    width: 600px;
    animation-duration: 4s;
    animation-name: slidesubtitle;
    position: relative;
}
@keyframes slidesubtitle {
  from {top: 2000px;}
  to {top: 0px;}
}

.subtitle > p {
    margin-top: 18px;
    margin-bottom: 5px;
    text-align: left;
    letter-spacing: 0.45px;
    color: #17100D;
    font-family: 'Raleway', serif;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
}

.jeVousAide{
    text-align: center;
    font-family: 'Playfair Display', serif;
    /* font-size: 140px; */
    font-size: 12vw;
    font-weight: lighter;
    letter-spacing: 0px;
    color: #A05357;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 15%;

}

.aPropos{
    text-align: left;
    width: 100%;
    float: left;
    margin-left: 100px;
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 5%;
    left: 0;
}


/**********************************CONSTACT************************/
select, input, textarea {
    padding: 10px 0px;
    outline: none;
    cursor: inherit;
    border: none;
    margin-top: 40px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.inputForm > input, .choises, .textarea{
    border-bottom: 1px solid red;
}

input, textarea {
    background: #FDFBFA 0% 0% no-repeat padding-box;
    padding: 1%;
}


.contact{
    margin-top: 147px;
}

.choises{
    margin-top: 91px;
    height: 35px;
    width: 564px;
    position: relative;
    margin-bottom: 64px;
}

.choises:after {
  content: ' >';
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/
  top: 18px;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
}

.choises select {
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    display: block;
    width: 100%;
    float: right;
    margin: 5px 0px;
    font-size: 16px;
    line-height: 1.75;
    -ms-word-break: normal;
    word-break: normal;
    border: 1px solid;
}

.textarea{
    width: 100%;
    height: 150px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1156px;
    margin: auto;
}

.inputForm{
    width: 100%;
    display: flex;
}

.inputForm > input{
    width: 100%;
    height: 35px;
    margin-top: 25px;
    padding: 10px;
}

.inputForm > input:nth-child(1){
    margin-right: 2%;
}

.inputForm > input:nth-child(2){
    margin-left: 2%;
}

 select, input, textarea {
    font-family: 'Raleway', serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.contactButton{
    width: 356px;
    height: 64px;
    margin-top: 57px;
    background: #A05357 0% 0% no-repeat padding-box;
    border: 3px solid #945759;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: initial;
    letter-spacing: 0.88px;
    color: #FDF9F7;
    text-transform: uppercase;
    margin-bottom: 117px;
}



/********************************************* FOOTER *******************/
.footer{
    background-color: #FBF5F3;
    height: 488px;
    padding-top: 70px;
    margin-bottom: 45px;
    text-align: center;
}
.footer > h4{
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 50px;
    letter-spacing: 2px;
    color: #333132;
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 40px;

}
.footer > p{
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.24px;
    color: #333132;
}
.footer > button{
    margin-top: 60px;
    margin-bottom: 50px;
    width: 399px;
    height: 102px;
    border: 3px solid #945759;
    opacity: 1;
    background-color: transparent;
    font-family: 'Playfair Display';
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.96px;
    color: #333132;
    text-transform: uppercase;
    opacity: 1;
}

.footerIcon{
    margin: auto !important;
}



footer{
    font-family: 'Raleway', serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.16px;
    color: #333132;
    margin-bottom: 50px;
    margin-top: 50px;
}

.pServices{
    text-align: center;
    font-family: 'Raleway', serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.24px;
    color: #333132;
    margin: auto;
    margin-top: 39px;
    margin-bottom: 359px;
    margin-left: 10%;
    margin-right: 10%;
}

/********************************************* ICON *******************/
.fixed{
    position: fixed;
    right: 0;
    bottom: 5%;
    left: 0;
}
.icon{
    display: flex;
    width: 131px;
    align-items: center;   
    margin-left: auto; 
    margin-right: 100px;
    justify-content: space-between;
    position: fixed;

}

.fullpage{
    background-color: #A05357;
}
/***************************** JOIN US ***************/
.joinUs{
    background-color: #A05357;
}

.joinUsTitle{
    font-family: "Playfair Display";
    font-size: 100px;
    width: 700px;
    text-align: center;
    color: #ffffff;
    margin: auto;
    opacity: 1;
}
.second{
    margin-top: -50px;
}
.joinUsText{
    width: 70%;
    margin: auto;
    font-family: 'Raleway';
    font-size: 27px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 10px;
}

.joinUsForm{
    width: 90%;
}
.joinUsForm > input{
    background-color: transparent;
    width: 50%;
    border-bottom: 1px solid white;
    color: white;
}

.joinUsForm > input::placeholder{
    font-family: "Playfair Display";
    font-style: italic;
    font-size: 27px;
    font-weight: lighter;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.joinUsBtn{
    margin-top: 5%;
    width: 40%;
    height: 40%;
    background-color: #FFFFFF;
    text-align: left;
    letter-spacing: 0px;
    color: #714543;
    font-family: "Playfair Display";
    font-size: 56px;
    text-align: center;
    border: none;
}


/***************************** ABOUT ***************/
.fullpage{
    height: 100vh !important;
}
.slide{
    background-color: #F5E5E199;
}
.about1 > h1{
    font-family: 'Playfair Display';
    font-size: 270px;
    text-align: center;
    letter-spacing: -2.43px;
    color: #333132;
}
.about1 > p{
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0px;
    color: #17100D;
    opacity: 1;
    width: 50%;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 45px;
}

.about2{
    display: flex;
    margin: auto;
}
.about2 > div{
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 300px;
    margin: auto;
    justify-content: space-evenly;
    letter-spacing: 0px;
    color: #333132;
}
.about2 > img{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto;
    width: 500px;
    height: 500px;
    margin-right: 50px;
    justify-content: space-between;
}
    .fleche{
        animation: updown 2s ease infinite;


    }
    @keyframes updown {
        0% {
            transform: translateY(-50%);
        }

        50% {
            transform: translateY(50%);
        }

        100% {
            transform: translateY(-50%);
        }
    }